# Environment
.env
.venv/

# Python
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.coverage

# Editors / IDEs
.idea/
.vscode/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/
*.AppleDouble

*.db
